[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-mongoengine = "*"
Flask-RESTful = "*"
Flask-Bcrypt = "*"
Flask-JWT-Extended = "*"
python-dotenv = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.8"
